h1, h5, p{
	font-family: 'Montserrat', sans-serif;
	color: #014961;
}
h5{
	font-weight: bold;
}
.contatos{
	color: gray;
	padding-top: 3px;
	padding-left: 10px;
	text-align: left;
}
.carta{
	width: 40px;
	height: 30px;
}
.fone{
	width: 40px;
	height: 30px;
}	
.botao{
color: white !important;
border: 1px solid #014961;
background-color: #014961;
font-size: 15px;
border-radius: 5px !important;
font-weight: bold;
padding: 6px 80px;
margin-top: 5px;
}