.img-footer{
	height: 60px;
}
.img-col{
	margin-top: 20px
}
.box-8{
	background-color: black;
}
.h5-box-8{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.p-box-8{
	color: white;
	font-family: 'Montserrat', sans-serif;
}